@model EPOLL.Website.DataAccess.DomainModels.Organization

@{
    ViewData["Title"] = "Edit";
}

<div style="margin: auto 10%">
    <h2>Edit</h2>

    <h4>Organization</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="OrgEdit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="OrganizationId" />
                @*<input type="hidden" asp-for="OrganizationAdminId" />*@
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Detail" class="control-label"></label>
                    <input asp-for="Detail" class="form-control" />
                    <span asp-validation-for="Detail" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CreatedOn" class="control-label"></label>
                    <input asp-for="CreatedOn" class="form-control" />
                    <span asp-validation-for="CreatedOn" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UpdatedOn" class="control-label"></label>
                    <input asp-for="UpdatedOn" class="form-control" />
                    <span asp-validation-for="UpdatedOn" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="IsEnabled" /> @Html.DisplayNameFor(model => model.IsEnabled)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>
